body {
    margin: 0 auto;
}

#container {
    animation: fadein 1s 0.25s linear backwards;
}

img {
    height: 150px;
    border: 3px white solid;
    grid-area: preview;
}
.file {
    display: grid;
    grid-template-areas:
    'preview filename'
    'preview description';
    grid-gap: 0;
    border: 5px white solid; 
    margin-top: 20px;
    margin: 10px;
    padding: 20px;
    background-color: #080808;
    line-height: 0;
    transition-duration: 0.2s;
}
.file:hover {
    background-color: #1d1d1d;
    transform: scale(1.01);
}
#file_1 {
    margin-top: 40px;
}
.filename {
    font-size: 50px;
    grid-area: filename;
}
.description {
    text-decoration: underline;
    grid-area: description;
}
