body {
    font-family: 'Press Start 2P';
    background-color: #080808;
    color: #F0F0F0;
    height: 100%;
    margin: 0 auto;
}

html, body {
    margin: 0;
    height: 100%;
    cursor: url('/img/cursor.png'), url(/img/cursor.cur), auto;
}
.center {
    text-align: center;
}
.name {
    background-color: #0a0a0a;
    border: 10px white solid;
    margin: 0 auto;
    margin-top: 20px;
    padding: 5px;
    width: 30%;
    
    font-size: 40px;
}
.faded-out {
    opacity: 0.5;
}

/* button styles */
.btn {
    position: relative;
    margin: 0;
    font-size: xx-large;
    border: 5px white solid;
    padding: 30px;
    transition: 0.1s;
}
.btn:hover {
    background-color: #1d1d1d;
    transform: scale(1.1);
}
.btn-nohover {
    position: relative;
    margin: 0;
    font-size: xx-large;
    border: 5px white solid;
    padding: 30px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}